<%- include ("partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<div class="container contentRegion">
	<div>
		<div>
			<div class="well">
				<div id="webpageDesc">
					<p id="titleAbout"><strong>About</strong><p>
					<p> Thank you for visiting the Netizen's BookCase Webpage. </p>
					<p>
						This webpage will allow you to browse through a small collection of books and select them for reading.
						Each book will display the total number of likes and all of the comments associated with that book.
						You will also be able to leave your own LIKE and/or COMMENT on any book of your choice.
						Each book on this webpage contains a large portion of the original literature but not all of it.
						If you wish to access the full copy, you may visit <a href="https://www.gutenberg.org/wiki/Main_Page">Gutenberg.</a>
					</p>
				</div>
			</div>

			<div class="thumbnail">
				<div class="caption-full" id="techDesc">
					<h3>
						<strong>Software & Technologies</strong>
					</h3>
					<div id="techDetails">
						<p>
							Front End &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							HTML &nbsp&nbsp&nbsp CSS &nbsp&nbsp&nbsp JavaScript &nbsp&nbsp&nbsp Bootstrap3
						</p>
						<p>
							Server Side &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							Node.js &nbsp&nbsp&nbsp Express &nbsp&nbsp&nbsp Mongoose
						</p>
						<p>
							IDE &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							GoormIDE (Virtual Machine)
						</p>
						<p>
							Database &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							MongoDB / MongoDBAtlas
						</p>
						<p>
							Deployment &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							Heroku
						</p>
						<p>
							Version Control &nbsp&nbsp
							Git
						</p>
						<p>
							GitHub
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="https://github.com/chriskimhj/Online-Library-Web-App">
								https://github.com/chriskimhj/Online-Library-Webpage-Project.git
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
 </script>
 <script type="text/javascript" src="bootstrap.js"></script>

<%- include ("partials/footer") %>
